@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #13c1ac; /* Color primario hipotético */
  --secondary-color: #0f9989; /* Color secundario hipotético */

}
body {
  height: 100vh;
  width: 100%;
  

}